.aboutPageContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;

  @media (min-width: 1920px) {
    font-size: 1.5rem;
    margin-top: 60px;
  }

  @media (max-width: 1440px) {
    font-size: 1.9rem;
    margin-top: 60px;
  }

  @media (max-width: 1024px) {
    font-size: 1.8rem;
    margin-top: 60px;
  }

  @media (max-width: 768px) {
    font-size: 1.7rem;
  }

  @media (max-width: 480px) {
    font-size: 1.6rem;
  }
}

.aboutPageContainer h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #555;
  text-align: center;
  line-height: 1.4;

  @media (min-width: 1920px) {
    font-size: 2rem;
  }

  @media (max-width: 1440px) {
    font-size: 1.9rem;
  }

  @media (max-width: 1024px) {
    font-size: 1.8rem;
  }

  @media (max-width: 768px) {
    font-size: 1.7rem;
  }

  @media (max-width: 480px) {
    font-size: 1.6rem;
  }
}

/* .modern {
  text-transform: uppercase; 
} */

.textKabinet,
.modern,
.ausgestattet {
  color: #2eacb8;
  color: #77c0eb;
  color: #5fc9d3;
  /* font-weight: 600;  */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.carousel-container {
  position: relative;
  width: 80%;
  margin: 30px auto 100px; /*  ! 0 auto 30px; */
  text-align: center;

  @media (max-width: 1024px) {
    width: 90%;
  }

  @media (max-width: 480px) {
    width: 100%;
    margin: 0 auto 20px;
  }
}

.text-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  color: #3d3f3f;
  margin: 70px 0 20px;

  @media (max-width: 768px) {
    font-size: 2rem;
  }

  @media (max-width: 480px) {
    font-size: 1.8rem;
  }
}

.texth3-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #3d3f3f;
  /* margin: 60px; */
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  opacity: 0.8;
  opacity: 1;
  /* transition: transform 0.5s ease, opacity 0.5s ease; */
  transition: transform 1s ease, opacity 1s ease;
}

.slick-center .carousel-slide {
  transform: scale(1.5);
  opacity: 1;
}

.carousel-image {
  width: 100%;
  margin: 100px 40px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  /* display: flex;
    align-items: center;
    justify-content: center; */
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }

  @media (max-width: 768px) {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  @media (max-width: 480px) {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
}

.carousel-arrow-left {
  left: -60px;

  @media (max-width: 768px) {
    left: -40px;
  }

  @media (max-width: 480px) {
    left: -30px;
  }
}

.carousel-arrow-right {
  right: -60px;

  @media (max-width: 768px) {
    right: -40px;
  }

  @media (max-width: 480px) {
    right: -30px;
  }
}
