.aboutPageContainer {
  padding: 30px;
}

h2 {
  font-size: 2.5rem; 
  font-weight: 700; 
  color: #333;
  text-align: center;
  line-height: 1.4; 
}

.modern {
  text-transform: uppercase; 
}

.textKabinet, .modern, .ausgestattet {
  color: #2196f3; 
  font-weight: 600; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}
 
 .carousel-container {
    position: relative;
    width: 80%;
    margin: 0 auto 30px;
    text-align: center;
  }
  
  .text-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: #3d3f3f;
    margin: 70px 0 20px;
  }

  .texth3-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #3d3f3f;
    margin: 10px 0 70px;
  }
  
  .carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    opacity: 0.8; 
    opacity: 1; 
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .slick-center .carousel-slide {
    transform: scale(1.5); 
    opacity: 1; 
  }
  
  .carousel-image {
    width: 100%;
    margin: 100px 0 ;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  
  .carousel-arrow:hover {
    background-color: rgba(0, 0, 0, 0.9); 
  }
  
  .carousel-arrow-left {
    left: -100px;

  }
  
  .carousel-arrow-right {
    right: -100px; 
  }

