.footer {
  display: flex;
  flex-wrap: wrap; /* Адаптация для узких экранов */
  justify-content: space-between;
  align-items: center; /* Центрирование по вертикали */
  padding: 30px 20px;
  /* background: linear-gradient(90deg, #A0EEF2, #F9F9F9); */
  background-color: #A0EEF2; 
  background-color: #f0effc;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leftSection {
  flex: 0 0 auto; /* Логотип занимает минимальную ширину */
  display: flex;
  justify-content: flex-start; /* Логотип остаётся слева */
  align-items: center;
}

.logo {
  width: 100%; /* Логотип растягивается по ширине контейнера */
  max-width: 200px; /* Ограничение максимальной ширины */
  height: 100%; /* Сохраняем пропорции изображения */
  border-radius: 50%; 
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;

  @media (max-width: 768px) {
    max-width: 180px;
  }

  @media (max-width: 480px) {
    max-width: 150px;
  }
}

.centerSection {
  flex: 1; /* Центр секция адаптивно заполняет доступное пространство */
  display: flex;
  flex-wrap: wrap; /* Позволяем перенос элементов на следующую строку */
  gap: 20px; /* Отступы между элементами */
  justify-content: center; /* Центрирование содержимого */
  text-align: center;
}

.contactElement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Расстояние между иконкой и текстом */
  font-size: 18px;

  &:hover {
    color: #067495; /* Эффект при наведении */
  }

  @media (max-width: 768px) {
    font-size: 16px; /* Уменьшаем размер текста на узких экранах */
  }
}

.rightSection {
  flex: 0 0 auto; /* Контейнер занимает минимальную ширину */
  display: flex;
  justify-content: flex-end; /* Гарантируем, что содержимое остаётся справа */
  align-items: center; /* Центрируем содержимое по вертикали */
  padding: 20px 25px 0 20px;


  @media (max-width: 768px) {
    width: 100%; /* Контейнер занимает всю ширину */
    justify-content: center; /* Сохраняем выравнивание вправо */
    padding-right: 10px; /* Уменьшаем отступ для компактности */
  }

  @media (max-width: 480px) {
    width: 100%; /* Контейнер занимает всю ширину */
    justify-content: center; /* Гарантируем положение кнопки справа */
    padding-right: 5px; /* Минимизируем отступ */
  }
}

.rightSection button {
  border: none;
  width: auto; /* Кнопка адаптируется по содержимому */
  white-space: nowrap; /* Запрещаем перенос текста */
  align-self: center; /* Кнопка остаётся вертикально центрированной */
}


.contactText {
  display: inline;

  @media (max-width: 420px) {
    display: none;
  }
}
