.footer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px;
    /* background-color: #A0EEF2;  */
    /* background-color: #F0F0F0;  */
    background: linear-gradient(90deg, #A0EEF2, #F9F9F9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap; 
}

.leftSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 20%;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.8rem; 
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
    width: 50%;
  border-radius: 50%;

  &:hover {
    color: #78a2f0; 
    transform: scale(1.05);
  }
  
    @media (max-width: 768px) {
      justify-content: center;
      font-size: 1.4rem;
    }
  
    @media (max-width: 480px) {
      font-size: 1.2rem;
    }
}

.centerSection {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 50px;
    margin: 0;
    flex: 2; 
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.contactInfo {
    display: flex;
    justify-content: center;
    margin: 0;
}

.contactElement {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.rightSection {
    flex: 1; 
    display: flex;
    justify-content: flex-end; 
    padding-right: 20px; 
}

.rightSection button {
    border: none;
}

.styledNavLink {
  text-decoration: none;
  color: #3d3d3d; 
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase; 
  letter-spacing: 0.05em; 
  padding: 8px 10px;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #4a90e2;
    transform: translateY(-2px); 
  }

  &:active {
    color: #4b51a5;
  }

  @media (max-width: 768px) {
    font-size: 1rem;
  }

  @media (max-width: 480px) {
    font-size: 0.9rem;
  }
}

.navLinkImg {
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #e3f2fc;

  &:hover {
    opacity: 0.8;
    transform: scale(1.05); 
  }

  @media (max-width: 768px) {
    height: 45px;
  }

  @media (max-width: 480px) {
    height: 40px;
  }
}
