.footer {
    display: flex;
    justify-content: space-between; /* Равномерное распределение частей */
    align-items: center; /* Вертикальное центрирование */
    padding: 10px 20px;
    background-color: #A0EEF2; /* Цвет фона */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap; /* Адаптивность на узких экранах */
}

.leftSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 20%; /* Установить ширину 20% (одна пятая часть) */
}

.logo {
    width: 75%; /* Увеличено на 50% */
}

.centerSection {
    flex: 2; /* Занимает две трети пространства */
    text-align: center;
    font-size: 14px;
}

.contactInfo {
    display: flex;
    flex-wrap: wrap; /* Перенос содержимого на новую строку */
    justify-content: center;
    gap: 10px; /* Расстояние между элементами */
    margin: 0;
}

.contactElement {
    display: flex;
    align-items: center;
}

.rightSection {
    flex: 1; /* Занимает одну треть пространства */
    display: flex;
    justify-content: flex-end; /* Кнопка выравнивается справа */
    padding-right: 20px; /* Отступ справа от края страницы */
}

.rightSection button {
    margin-bottom: 0;
}
