.mainPanel {
  display: flex;
  flex-direction: row; 
  width: 100%;
  overflow: hidden;
}


.sidebar {
  width: 15%; 

}

.content {
  flex-grow: 1; 
}

/* Мобильная версия */
@media screen and (max-width: 768px) {
  .mainPanel {
    flex-direction: column; 
    padding: 10px;
  }

  .sidebar {
    width: 100%; 
    order: 1; 
    /* margin-bottom: 10px; */
  }

  .content {
    flex-grow: 1;
  }
}