.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelTop {
  font-size: 16px;
  font-weight: bold;
  color: #B5ABAB;
  margin-bottom: 5px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.box:hover {
  background-color: #D9D9D9;
}

.icon {
  height: 60px;
  width: auto;
  object-fit: contain;
  
}


/* Big monitor */ 

@media (min-width: 1440px) {
  .box  {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    padding: 20px;
    gap: 20px;
  }
  .icon {
    height: 80px;
    width: auto;
  }

  .labelTop {
    font-size: 18px;
  }
}

/* Normal monitor */
@media (max-width: 1440px) {
  .box  {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    padding: 20px;
    gap: 10px;
  }
  .icon {
    height: 60px;
    width: auto;
  }

  .labelTop {
    font-size: 16px;
  }
}


/* Tablets */
@media (max-width: 1024px) {
  .box  {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    padding: 15px;
    gap: 15px;
  }
  .icon {
    height: 70px;
    width: 90px;
  }

  .labelTop {
    font-size: 14px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .sidebar {
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    margin-left: 0;
  }

  .item {
    flex-direction: column;
    gap: 5px;
  }

  .box {
    width: 100px;
    height: 100px;
    /* border-radius: 15px; */
    padding: 10px;
    gap: 4px;
  }

  .icon {
    height: 40px;
    width: auto;
  }

  .labelTop {
    font-size: 11px;
  }
}

/* Very small screens */
@media (max-width: 480px) {
  .box {
    width: 75px;
    height: 75px;
    padding: 8px;
    gap: 8px;
  }

  .icon {
    height: 30px;
    width: auto;
  }

  .labelTop {
    font-size: 10px;
  }
}
