/* Сброс базовых стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
}

/* Стили для кнопок */
button, .button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px; /* Скругление углов */
    background-color: #9dd7ef; /* Новый цвет */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .button:hover {
    background-color: #387f99; /* Цвет при наведении */
}

button:disabled, .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


/* Стили для инпутов */
input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input:focus, textarea:focus, select:focus {
    border-color: #007bff;
    outline: none;
}

/* Стили заголовков */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    color: #222;
}

/* Ссылки */
a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
