.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.globalContainer {
  /* max-width: 1200px; Ограничение ширины */
  /* margin: 0 auto; Центрирование содержимого */
 
  width: 100%; /* Убедимся, что занимает всю ширину */
  box-sizing: border-box; 
}

.header {
  
  width: 100%; /* Гарантируем одинаковую ширину */
}

.content {
  flex: 1;
  background-color: #f6f9fc;
  width: 100%; /* Гарантируем одинаковую ширину */
  height: 100%;
}

.footer {
  
  width: 100%; /* Гарантируем одинаковую ширину */
}

@media (max-width: 768px) {
  .globalContainer {
    max-width: 100%;
  }
  

  .header,
  .content,
  .footer {
    width: 100%; /* Одинаковая ширина на узких экранах */
  }
}
