.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  .header {
    margin-bottom: 20px; 
  }
  
  .content {
    flex: 1; 
    /* background-color: #f6f9fc; */
  }
  
  .footer {
    margin-top: 20px; 
  }
  