.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative; /* Нужно для абсолютного позиционирования confirmation */
}

.cardContent {
  display: flex;
  align-items: center;
}

.blurredContent {
  filter: blur(4px);
}

.photoContainer {
  margin-right: 15px;
}

.photo {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}

.infoColumn {
  flex: 1;
}

/* Новый стиль для Specialisation */
.specialisation {
  font-size: 14px;
  color: #333;
  margin: 5px 0;
  font-weight: bold; /* Чтобы выделить Specialisation */
}

.cardButtonRow {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.delete,
.toggle,
.moreInfo {
  border: none;
  padding: 5px 10px;
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete:hover {
  background-color: #f44336;
}

.toggle:hover {
  background-color: #ffeb3b;
}

.moreInfo:hover {
  background-color: #4caf50;
}

/* Прямоугольник для подтверждения удаления */
.confirmation {
  position: absolute; /* Позиционируем относительно карточки */
  bottom: -60px; /* Отображаем под карточкой */
  left: 50%; /* Центрируем относительно карточки */
  transform: translateX(-50%); /* Центрируем элемент */
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  z-index: 10; /* Поверх всех других элементов */
}

.yesButton,
.noButton {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.yesButton {
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease;
}

.noButton {
  background-color: #f44336;
  color: white;
  transition: background-color 0.3s ease;
}

.yesButton:hover {
  background-color: #3e8e41;
}

.noButton:hover {
  background-color: #d32f2f;
}