.sidebar {
  width: 200px;
  background-color: #FAFAFA;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelTop {
  font-size: 16px;
  font-weight: bold;
  color: #272626;
  margin-bottom: 5px;
}

.box {
  width: 80px;
  height: 80px;
  background-color: #ebe7e7;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.box:hover {
  background-color: #ccc;
}

.icon {
  width: 75%; /* Explicitly set the width of the images */
  height: 75%; /* Explicitly set the height of the images */
  object-fit: contain; /* Ensure the images maintain their aspect ratio */
}
